@use "variables";

// base

.#{variables.$ms-prefix} {
    display: inline-block;
	margin: -4px 1px 0;
    font: normal normal normal variables.$ms-font-size-base var(--font-mana, Mana);
    font-size: inherit;
    line-height: 1em;
    text-rendering: auto;
    transform: translate(0, 0);
    speak: none;
    text-transform: none;
    vertical-align: middle;
    // Better font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.#{variables.$ms-prefix} {
	color: #111 !important;
}